<html>
    <head>
        <title>아무 말 대잔치</title>
    </head>
    <body>
        <p><a href="http://localhost:8000/auth/login">[login] 로그인</a></p>
        <p><a href="http://localhost:8000/auth/signup">[signup] 회원가입</a></p>
        <p><a href="http://localhost:8000/posts">[index] 메인페이지</a></p>
        <p><a href="http://localhost:8000/posts/post-id">[post] 게시글 상세조회</a></p>
        <p><a href="http://localhost:8000/posts/create">[create-post] 게시글 추가</a></p>
        <p><a href="http://localhost:8000/posts/post-id/edit">[edit-post] 게시글 수정</a></p>
        <p><a href="http://localhost:8000/users/user-id/edit-profile">[edit-profile] 회원정보 수정(프로필)</a></p>
        <p><a href="http://localhost:8000/users/user-id/change-password">[edit-password] 회원정보 수정(비밀번호)</a></p>

    </body>
</html>