<!DOCTYPE html>
<html>
    <head>
        <title>아무 말 대잔치</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/change-password.css" />
    </head>

    <body>
        <header id="header">
            <div class="header">
                <div class="headerContent">
                    <div class="headerLeft">
                        <img id="headerLeft" src="/images/angle-left.png" class="headerLeft" alt="headerLeft" onclick="history.back()"/>
                    </div>
                    <a href="/posts" class="headerText">아무 말 대잔치</a>
                    <div class="headerProfile">
                        <div class="userProfile">
                            <img id="userProfileImg" src="" class="userProfile" alt="userProfile" />
                            <div class="dropdown" id="dropdown">
                                <div class="dropdownOption" id="loginDropdown">로그인</div>
                                <div class="dropdownOption" id="signupDropdown">회원가입</div>
                                <div class="dropdownOption" id="editProfileDropdown">회원정보수정</div>
                                <div class="dropdownOption" id="changePasswordDropdown">비밀번호수정</div>
                                <div class="dropdownOption" id="logoutDropdown">로그아웃</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr/>

        <article>
            <div class="wrap2">
                <h1>비밀번호 수정</h1>

                <label for="password">비밀번호</label>
                <input type="password" name="password" id="password" placeholder="비밀번호를 입력하세요">
                <p id="passwordHelperText" class="helperText"></p>
                    
                    
                <label for="passwordChk">비밀번호 확인</label>
                <input type="password" name="passwordChk" id="passwordChk" placeholder="비밀번호를 한번 더 입력하세요">
                <p id="passwordChkHelperText" class="helperText"></p>
                    
                <button id="submit" type="submit" class="submit">수정하기</button>

                <div class="toastMessage" id="toastMessage">
                    <img src="/images/check.png" id="checkIcon"/>
                    수정완료
                </div>

            </div>
        </article>

        <script src="/js/dropdown.js" type="module"></script>
        <script src="/js/change-password.js" type="module"></script>

    </body>
</html>
