<!DOCTYPE html>
<html>
    <head>
        <title>아무 말 대잔치</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/create-post.css" />
    </head>

    <body>
        <header id="header">
            <div class="header">
                <div class="headerContent">
                    <div class="headerLeft">
                        <img id="headerLeft" src="/images/angle-left.png" class="headerLeft" alt="headerLeft" onclick="history.back()"/>
                    </div>
                    <a href="/posts" class="headerText">아무 말 대잔치</a>
                    <div class="headerProfile">
                        <div class="userProfile">
                            <img id="userProfileImg" src="" class="userProfile" alt="userProfile" />
                            <div class="dropdown" id="dropdown">
                                <div class="dropdownOption" id="loginDropdown">로그인</div>
                                <div class="dropdownOption" id="signupDropdown">회원가입</div>
                                <div class="dropdownOption" id="editProfileDropdown">회원정보수정</div>
                                <div class="dropdownOption" id="changePasswordDropdown">비밀번호수정</div>
                                <div class="dropdownOption" id="logoutDropdown">로그아웃</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr/>

        <article>
            <div class="wrap">

                <div class="postWriteTitle">게시글 작성</div>

                <div class="postWriteContainer">
                    <p>제목*</p>
                    <hr><input id="titleInput" class="titleInputBox" placeholder="제목을 입력해주세요. (최대 26글자)"><hr>
                    <div id="titleHelperText" class="helperText"></div>

                    <p>내용*</p>
                    <hr><textarea id="contentInput" class="contentInputBox" placeholder="내용을 입력해주세요."></textarea><hr>
                    <div id="contentHelperText" class="helperText"></div>

                    <p>이미지</p>
                    <div>
                        <input type="file" id="postWriteImage" accept="image/png, image/jpeg, image/gif">
                    </div>
                </div>

                <button id="createPostBtn" class="submitBtn">완료</button>

            </div>
        </article>

        <script src="/js/dropdown.js" type="module"></script>
        <script src="/js/create-post.js" type="module"></script>


    </body>
</html>
