<!DOCTYPE html>
<html>
    <head>
        <title>아무 말 대잔치</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/index.css" />
    </head>

    <body>
        <header id="header">
            <div class="header">
                <div class="headerContent">
                    <div class="headerLeft">
                        <img id="headerLeft" src="/images/angle-left.png" class="headerLeft" alt="headerLeft" onclick="history.back()"/>
                    </div>
                    <a href="/posts" class="headerText">아무 말 대잔치</a>
                    <div class="headerProfile">
                        <div class="userProfile">
                            <img id="userProfileImg" src="" class="userProfile" alt="userProfile" />
                            <div class="dropdown" id="dropdown">
                                <div class="dropdownOption" id="loginDropdown">로그인</div>
                                <div class="dropdownOption" id="editProfileDropdown">회원정보수정</div>
                                <div class="dropdownOption" id="changePasswordDropdown">비밀번호수정</div>
                                <div class="dropdownOption" id="logoutDropdown">로그아웃</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <article>
            <div class="wrap">
                <div class="introContainer">
                    <div>
                        안녕하세요,<br>아무 말 대잔치 <span style="font-weight: bold;">게시판</span> 입니다.
                    </div>
                </div>

                <div class="buttonContainer">
                    <a href="/posts/create"><button class="createPostBtn">게시글 작성</button></a>
                </div>

                <div class="postsContainer">
                    <div class="postContainer">
                        <div class="postTitleArea">제목 1</div>
                        <div class="postMetaArea">
                            <div class="leftArea">
                                좋아요 <span>0</span>  댓글 <span>0</span>  조회수 <span>0</span>
                            </div>
                            <div class="rightArea">2021-01-01 00:00:00</div>
                        </div>
                        <hr>
                        <div class="postWriterArea">
                            <img src="/images/default_profile.png" class="postUserProfile">
                            <p>더미 작성자1</p>
                        </div>
                    </div>


                    <div class="postContainer">
                        <div class="postTitleArea">제목 2</div>
                        <div class="postMetaArea">
                            <div class="leftArea">
                                좋아요 <span>0</span>  댓글 <span>0</span>  조회수 <span>0</span>
                            </div>
                            <div class="rightArea">2021-01-01 00:00:00</div>
                        </div>
                        <hr>
                        <div class="postWriterArea">
                            <img src="/images/default_profile.png" class="postUserProfile">
                            <p>더미 작성자2</p>
                        </div>
                    </div>
                </div>

            </div>
        </article>

        <script src="/js/dropdown.js" type="module"></script>
        <script src="/js/index.js" type="module"></script>
        <script src="/js/header.js"></script>

    </body>
</html>