<!DOCTYPE html>
<html>
    <head>
        <title>아무 말 대잔치</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/post-detail.css" />
        <link rel="stylesheet" href="/css/modal.css" />

    </head>

    <body>
        <header id="header">
            <div class="header">
                <div class="headerContent">
                    <div class="headerLeft">
                        <img id="headerLeft" src="/images/angle-left.png" class="headerLeft" alt="headerLeft" onclick="history.back()"/>
                    </div>
                    <a href="/posts" class="headerText">아무 말 대잔치</a>
                    <div class="headerProfile">
                        <div class="userProfile">
                            <img id="userProfileImg" src="" class="userProfile" alt="userProfile" />
                            <div class="dropdown" id="dropdown">
                                <div class="dropdownOption" id="loginDropdown">로그인</div>
                                <div class="dropdownOption" id="signupDropdown">회원가입</div>
                                <div class="dropdownOption" id="editProfileDropdown">회원정보수정</div>
                                <div class="dropdownOption" id="changePasswordDropdown">비밀번호수정</div>
                                <div class="dropdownOption" id="logoutDropdown">로그아웃</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr/>

        <article>
            <div class="wrap">
                <div class="postContainer">
                    <div class="postTitle">제목</div>

                    <div class="metaContainer">
                        <div class="metaLeftContainer">
                            <div class="writerArea">
                                <img src="" class="userProfile" id="postWriterProfileImage">
                                <p class="writerName" id="postWriterName">author</p>
                            </div>
                            <div class="createdTime">2000-01-01 00:00:00</div>
                        </div>
                        <div class="postEditRemoveBtnContainer">
                            <!-- <button class="editRemoveBtn" id="editPostBtn">수정</button>
                            <button class="editRemoveBtn" id="deletePostBtn">삭제</button> -->
                        </div>
                    </div>

                    <hr/>
                    
                    <div class="postImageContainer">
                        <img class="postImage">  
                    </div>

                    <div class="postContent">
                        <!-- 게시물 내용 -->
                    </div>

                </div>
    
                <div class="reactionContainer">
                    <button class="reactionData" id="likesBtn">
                        <p class="reactionNum" id="likesCnt">123</p> <p class="reactionName">좋아요수</p>
                    </button>
                    <div class="reactionData">
                        <p class="reactionNum" id="viewsCnt">123</p> <p class="reactionName">조회수</p>
                    </div>
                    <div class="reactionData">
                        <p class="reactionNum" id="commentsCnt">123</p> <p class="reactionName">댓글</p>
                    </div>
                </div>

                <hr>
    
                <div class="postBottomContainer">
                    <div class="writeCommentContainer">
                        <textarea class="writeCommentArea" placeholder="댓글을 남겨주세요!" id="writeCommentArea"></textarea>
                        <div id="commentHelperText" class="helperText"></div>
                        <hr>
                        <button class="writeCommentBtn" id="writeCommentBtn" disabled>댓글 등록</button>
                    </div>

                    <div class="commentsContainer">
                        <!-- 댓글 목록 -->
                    </div>

    
                </div>

            </div>
        </article>

        <!-- 모달창 -->

        <div id="postModalOverlay" class="modalOverlay">
            <div class="modal">
                <div class="modalTitle">게시글을 삭제하시겠습니까?</div>
                <div class="modalContent">삭제한 내용은 복구 할 수 없습니다.</div>
                <div class="btnContainer">
                    <button class="optionA" id="closePostModal">취소</button>
                    <button class="optionB" id="okPostModal">확인</button>
                </div>
            </div>
        </div> 

        <div id="commentModalOverlay" class="modalOverlay">
            <div class="modal">
                <div class="modalTitle">댓글을 삭제하시겠습니까?</div>
                <div class="modalContent">삭제한 내용은 복구 할 수 없습니다.</div>
                <div class="btnContainer">
                    <button class="optionA" id="closeCommentModal">취소</button>
                    <button class="optionB" id="okCommentModal">확인</button>
                </div>
            </div>
        </div>

        <script src="/js/dropdown.js" type="module"></script>
        <script src="/js/post-detail.js" type="module"></script>
        
    </body>
</html>