<!DOCTYPE html>
<html>
    <head>
        <title>아무 말 대잔치</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/post-detail.css" />
        <link rel="stylesheet" href="/css/modal.css" />

    </head>

    <body>
        <header id="header">
            <div class="header">
                <div class="headerContent">
                    <div class="headerLeft">
                        <img id="headerLeft" src="/images/angle-left.png" class="headerLeft" alt="headerLeft" onclick="history.back()" />
                    </div>
                    <a href="/posts" class="headerText">아무 말 대잔치</a>
                    <div class="headerProfile">
                        <div class="userProfile">
                            <img id="userProfileImg" src="/images/circle-user.png" class="userProfile" alt="userProfile" />
                            <div class="dropdown" id="dropdown">
                                <a href="/users/user-id/edit-profile" class="dropdownOption">회원정보수정</a>
                                <a href="/users/user-id/change-password" class="dropdownOption">비밀번호수정</a>
                                <a href="/" class="dropdownOption">로그아웃</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <article>
            <div class="wrap">
                <div class="postContainer">
                    <div class="postTitle">제목1</div>

                    <div class="metaContainer">
                        <div class="metaLeftContainer">
                            <div class="writerArea">
                                <img src="/images/default_profile.png" class="userProfile">
                                <p>더미 작성자2</p>
                            </div>
                            <div class="createdTime">2021-01-01 00:00:00</div>
                        </div>
                        <div class="eidtRemoveBtnContainer">
                            <button class="editRemoveBtn" id="postEditBtn">수정</button>
                            <button class="editRemoveBtn" id="postDeleteBtn">삭제</button>
                        </div>
                    </div>

                    <hr/>
                    
                    <div class="postImageContainer">
                        <img class="postImage">  
                    </div>

                    <div class="postContent">
                        무엇을 얘기할까요? 아무말이라면, 삶은 항상 놀라운 모험이라고 생각합니다. 우리는 매일 새로운 경험을 하고 배우며 성장합니다.<br>때로는 어려움과 도전이 있지만, ...<br>자연도 아름다운 이야기 입니다...
                    </div>

                </div>
    
                <div class="reactionContainer">
                    <div class="reactionData">
                        <p class="reactionNum">123</p> <p class="reactionName">좋아요수</p>
                    </div>
                    <div class="reactionData">
                        <p class="reactionNum">123</p> <p class="reactionName">조회수</p>
                    </div>
                    <div class="reactionData">
                        <p class="reactionNum">123</p> <p class="reactionName">댓글</p>
                    </div>
                </div>

                <hr>
    
                <div class="postBottomContainer">
                    <div class="writeCommentContainer">
                        <textarea class="writeCommentArea" placeholder="댓글을 남겨주세요!"></textarea>
                        <hr>
                        <button class="writeCommentBtn">댓글 등록</button>
                    </div>

                    <div class="commentsContainer">
                        <div class="metaContainer">
                            <div class="metaLeftContainer">
                                <div class="writerArea">
                                    <img src="/images/default_profile.png" class="userProfile">
                                    <p>더미 작성자1</p>
                                </div>
                                <div class="createdTime">2021-01-01 00:00:00</div>
                            </div>
                            <div class="editRemoveBtnContainer">
                                <button class="editRemoveBtn" id="commentEditBtn">수정</button>
                                <button class="editRemoveBtn" id="commentDeleteBtn" >삭제</button>
                            </div>
                        </div>
                        <div class="commentContent">
                            댓글 내용입니다.
                        </div>
                    </div>
    
                </div>

            </div>
        </article>

        <!-- 모달창 -->

        <div id="postModalOverlay" class="modalOverlay">
            <div class="modal">
                <div class="modalTitle">게시글을 삭제하시겠습니까?</div>
                <div class="modalContent">삭제한 내용은 복구 할 수 없습니다.</div>
                <div class="btnContainer">
                    <button class="optionA" id="closePostModal">취소</button>
                    <button class="optionB" id="okPostModal">확인</button>
                </div>
            </div>
        </div> 

        <div id="commentModalOverlay" class="modalOverlay">
            <div class="modal">
                <div class="modalTitle">댓글을 삭제하시겠습니까?</div>
                <div class="modalContent">삭제한 내용은 복구 할 수 없습니다.</div>
                <div class="btnContainer">
                    <button class="optionA" id="closeCommentModal">취소</button>
                    <button class="optionB" id="okCommentModal">확인</button>
                </div>
            </div>
        </div>

        <script src="/js/post-detail.js"></script>

    </body>
</html>