.wrap2 {
    width: 350px;
    margin-top: 80px;
    padding: 10px;
}

.btn_wrap {
    text-align: center;
    margin-top: 20px;
}

.wrap2 h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}

.text_label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.input_box {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.input_box input {
    height: 30px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn_login {
    padding: 5px;
    background-color: var(--hovercolor);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 37px;
}

.btn_register {
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.helper_text {
    padding-top: 8px;
    color: red;
    display: none;
    font-size: 12px;
}
