@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

:root {
    --maincolor: #97D2FD;
    --hovercolor: #8fc1e5ff;
    --darkgray: #d9d9d9;
    --backcolor: #f4f5f7; 
    --hovergray: #e9e9e9;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    background-color: var(--backcolor);
    font-family:
        IBM Plex Sans KR,
        sans-serif;
}

header {
    height: 110px;
    display: flex;
    justify-content: center;
}

article {
    display: flex;
    justify-content: center;
    height: 100vh; /* 화면 전체 높이 차지 */
    align-items: flex-start;
}

.wrap {
    width: 592px;
    display: flex;
    flex-direction: column; /*요소들을 수직으로 배열*/
    align-items: center; /*모든 요소를 가운데 정렬*/
    justify-content: center; /*세로 가운데 정렬*/
}

.headerText {
    padding: 32px 8px;
    width: 100%;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 37px;
    font-weight: 500;
    font-family: "Kirang Haerang", serif;
    font-style: normal;
}

.header,
.headerContent {
    align-items: center;
    display: flex;
}

.header {
    border-radius: 20px;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    margin-top: 10px;
    width: 592px;
}

.headerContent {
    justify-content: space-between;
    width: 600px;
}

.headerLeft {
    align-items: center;
    display: flex;
    height: 30px;
    width: 30px;
    margin-right: auto; /* 왼쪽으로 밀기 */
    cursor: pointer;
}

.headerProfile {
    color: #000;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 36px;
    margin-left: auto; /* 오른쪽으로 밀기 */
}

.userProfile {
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    position: relative; /* 기준이 될 부모 요소 */
    width: 36px;
    object-fit: cover;
}

.dropdown {
    display: none;
    position:absolute;
    background-color: var(--darkgray);
    width: 163px;
    right: 0; /* img의 오른쪽 끝에 드롭다운 배치 */
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* x축이동, y축이동, 흐림정도, 색상*/
}

.dropdownOption {
    display: block;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.dropdownOption:hover {
    background-color: var(--hovergray);
    color: var(--hovercolor);
    font-size: 1.05em; /* 약간 확대 */
    font-weight: 500;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}