.postContainer {
    padding-top: 15px;    
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

hr {
    width: 100%;
    margin-bottom: 20px;
}

.metaContainer {
    display: flex;
    justify-content: space-between; /* 좌우 공간을 균등하게 배분, 좌측우측정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 10px;
}

.metaLeftContainer {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
}

.postTitle {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Pretendard';
    height: 31.2px;
    padding: 0px 10px;
}

.writerArea {
    display: flex;
    align-items: center; 
    font-size: 15px;
    font-weight: 700;
}

.writerName {
    font-size: 15px;
    padding-left: 13px;
}

.userProfile {
    object-fit: cover;
    background-color: var(--darkgray);
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    position: relative;
    width: 36px;
}

.createdTime {
    font-size: 14px;
    padding-left: 20px;
}

.editRemoveBtn {
    background-color: var(--lightgray);
    border: 1px solid var(--maincolor);
    border-radius: 8px;
    box-shadow: none;
    padding: 5px 10px;
    margin: 0px 2px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

.editRemoveBtn:hover {
    background-color: var(--maincolor);
    transform: translateY(-2px);             /* 약간 위로 이동 */
    transition: all 0.3s ease; /* 부드러운 전환 */
}

.postImageContainer {
    width: 100%;
    display: flex;
    align-items: center; /* 가로 방향 가운데 정렬 */
    justify-content: center; /* 세로 방향 가운데 정렬 */
    margin-bottom: 20px;
}

.postImage {
    width: 95%;
    background-color: var(--darkgray);
    border: none;
}

.postContent {
    margin-bottom: 30px;
    white-space: pre-wrap; /* 줄바꿈 문자 그대로 반영 */
    word-break: break-all;
}

.reactionContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.reactionData {
    background-color: var(--darkgray);
    border-radius: 16px;
    width: 95px;
    margin: 0px 10px;
    padding: 10px 0px;
}
#likesBtn {
    border: none; /* 테두리 제거 */
    font: inherit; /* 상속된 폰트 사용 */
    color: inherit; /* 상속된 텍스트 색상 사용 */
    cursor: pointer; /* 마우스 커서가 버튼 위에 있을 때 손 모양으로 변경 */
}
#likesBtn.liked{
    background-color: var(--maincolor);
}

.reactionData p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0px;
}

.reactionNum {
    font-weight: 700;
    font-family: var(--secondfont);

}

.reactionName {
    font-weight: 700;
    font-family: var(--secondfont);

}

.postBottomContainer {
    width: 100%;
    padding-bottom: 100px;
}


/*
 * *********** 댓글 *************
 */
 .helperText {
    color: red;
    height: 20px;
    font-size: 13px;
    padding: 0px 15px;
    display: none;
}

.writeCommentContainer {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.writeCommentArea {
    margin: 10px 15px;
    height: 100px;
    text-align: left;
    width: calc(100% - 36px);
    border: none;
    font-size: 15px;
    word-break: break-all;
}

.writeCommentContainer hr {
    margin: 0px;
}

.writeCommentBtn {
    background-color: var(--maincolor);
    border: none;
    border-radius: 16px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    padding: 9px 0px;
    width: 110px;
    margin: 5px 13px 6px auto;
    
}

.commentsContainer{
    width: 100%;
}

.commentContainer {
    padding: 0px 20px;
}

.commentContent{
    padding-left: 46px;
    font-size: 15px;
    white-space: pre-wrap;
    word-break: break-all;
}


  
